@using System.Collections
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles",required:false)
    <meta name="description" content="The description of my page" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            <div class="megastore">
                <ul id="mainMenu" class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="">
                            <a href="#" class="" data-toggle="">Users</a>
                            <ul class="">
                                <li><a href="/bootstrap#/management/user">Manage Users</a></li>
                                <li><a href="/bootstrap#/register/credentials">Register User</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#" class="" data-toggle="">Roles</a>
                            <ul class="">
                                <li><a href="/bootstrap#/management/role">Manage Roles</a></li>
                                <li><a href="/bootstrap#/management/role/new">Register Role</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#" class="" data-toggle="">Colloquiums</a>
                            <ul class="">
                                <li><a href="/bootstrap#/colloquiums">Search a Colloquium</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#" class="" data-toggle="">Sessions</a>
                            <ul class="">
                                <li><a href="/bootstrap#/sessions">Search a Session</a></li>
                            </ul>
                        </li>

                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
<div class="container body-content">
        @if (User.IsInRole("Administrator"))
        {
            <input id="accessToken" type="hidden" value="@TempData["AccessToken"]" />
            <input id="accessUserName" type="hidden" value="@TempData["AccessUserName"]" />
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularBreeze")
    @Scripts.Render("~/bundles/externalVendors")
    @Scripts.Render("~/bundles/bootstraping")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/services")
    @Html.Partial("_ToastrPartial")
    @RenderSection("scripts",required:false)
<script type="text/javascript">
    $('#mainMenu').kendoMenu();
</script>
</body>

</html>
