@using PagedList.Mvc
@model PagedList.IPagedList<UDG.Colloquium.BL.Entities.Account.UserNamesDao>
<div id="usersList">
    <table id="tableUsers" class="table table-hover">
        <tr>
            <th>
                <div class="orderLink" data-colloquium-target="#usersList">
                    <a href="@Url.Action("ManageUsers",new{order=ViewBag.Order})" >UserName</a>
                 </div>
            </th>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = user.Id, userName = user.UserName }) |
                    @Html.ActionLink("Roles", "EditUserRoles", new { id = user.Id, userName = user.UserName }) |
                    @Html.ActionLink("Details", "Details", new { id = user.Id, userName = user.UserName }) |
                    @Html.ActionLink("Delete", "Delete", new { id = user.Id, userName = user.UserName })
                </td>
            </tr>
        }
    </table>

    <div class="pagedList" data-colloquium-target="#usersList">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("ManageUsers",
        new { page }), PagedListRenderOptions.Classic)
    </div>
</div>