@model UDG.Colloquium.ViewModels.Account.Management.RoleNamesDao

@{
    ViewBag.Title = "CreateRole";
}

<h2>CreateRole</h2>
<h4>RoleNamesViewModel</h4>
<hr />

@using (Html.BeginForm("CreateRole", "Account", FormMethod.Post, new {id="CreateRoleForm",role = "form" })) 
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.RoleName,new {@class="form-control modalActionValue"})
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>
        <div class="form-group">
                <input id="submitRole" type="submit" value="Create" class="btn btn-default modalActionForm"/>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "ManageRoles")
</div>

@PageHelpers.Modal("Confirm Role Creation","Are you sure you want to add the role:")

@section Scripts {
    @Scripts.Render("~/bundles/custom/colloquiumCore")
}
