@model UDG.Colloquium.BL.Entities.Identity.UserRolesDao

@{
    ViewBag.Title = "EditUserRoles";
}

<h2>EditRoles</h2>
<h4>Current roles asigned to user:@Model.UserName</h4>
<hr />

@using (Html.BeginForm("EditUserRoles", "Account", FormMethod.Post, new { id = "EditUserRoleForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserName)

    <table class="table table-hover">
            <tr>
                <th>Assigned</th>
                <th>Role Name</th>
            </tr>
                @Html.EditorFor(model => model.UserRoles)
    </table>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
}
