@model UDG.Colloquium.BL.ViewModels.UserRolesViewModel

@{
    ViewBag.Title = "EditRoles";
}

<h2>EditRoles</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserRolesViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @foreach (var role in Model.Roles)
                {
                    <div class="btn btn-default">@role</div>
                }
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
