@model IEnumerable<UDG.Colloquium.BL.ViewModels.RoleNamesViewModel>

@{
    ViewBag.Title = "ManageRoles";
}

<h2>ManageRoles</h2>

<p>
    @Html.ActionLink("Create New Role", "CreateRole")
</p>
@PageHelpers.Modal("Role Deletion Confirmation","Are you sure you want to delete the following role:")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id,roleName=item.RoleName }) |
            @Html.ActionLink("Delete", "DeleteRole", new { id = item.Id, roleName = item.RoleName }, new { id=""+@item.RoleName+"",onclick="confirmModal(event,'"+@item.RoleName+"');" })
        </td>
    </tr>
}
</table>

@PageHelpers.ModalConfirmationLink()
