@model UDG.Colloquium.BL.ViewModels.Account.Register.RegisterVm
@{
    ViewBag.Title = "Register User";
}

@functions{

    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null,out cookieToken,out formToken);
        return cookieToken + ":" + formToken;
    }

}

<div ng-app="formApp">
    @if (@User.Identity.IsAuthenticated)
    {
        <h2>@ViewBag.Title.</h2>
        <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
    <div>
        <div data-ng-include="'/app/shell/shell.html'"></div>
        <div id="splash-page" data-ng-show="false">
            <div class="page-splash">
                <div class="page-splash-message">
                    Register User Module
                </div>
                <div class="progress progress-striped active page-progress-bar">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>

    <span data-cc-scroll-to-top></span>
    }
</div>
    @if (@User.Identity.IsAuthenticated)
    {
    @section Scripts {
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/angularBreeze")
        @Scripts.Render("~/bundles/externalVendors")
        @Scripts.Render("~/bundles/bootstraping")
        @Scripts.Render("~/bundles/common")
        @Scripts.Render("~/bundles/app")
        @Scripts.Render("~/bundles/services")
    }
}

